.add-person-form {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border: #b6e5fb solid 0.5px;
    border-radius: 4px;
    max-width: 600px;
    h1 {
        text-align: center;
    }
}