// Variable overrides
// -------- Colors -----------
$primary-color : #3facef;
$info-color : #ff4741;
$success-color : #3facef;
$processing-color : #b6e5fb;
$error-color : #ff4741;
$highlight-color : #3facef;
$warning-color : #ff4741;
$normal-color : #d4e0e5;